*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
} 
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

main{
    width: 70%;
    margin: 0 auto;
    /* inserire max e min width */
}

.container{ 
    border: 2px dotted black;
    padding: 20px;
}

.header{
    float: left;
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(229, 121, 230);
}

.jumbo{ 
    float: left;
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(225, 214, 122);
}